@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: background linear .2s;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

input {
  all: unset;
  appearance: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: white;
  background: url("https://images.pexels.com/photos/1417647/pexels-photo-1417647.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260")
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: overlay;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}



.sweet-input::placeholder {
  color: white;
  opacity: 0.9;
}

.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}

/* Navigation */

.nav {
    display: flex;
    justify-content: center; 
    margin: 50px 0;
}

.navHome {
    margin-right: 10px;
}

.navHome img {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  box-sizing: border-box;
}

.navTitle {
    margin-top: 10px;
}

.navProfile img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/* Profile Page */

.profileBtn__container {
  margin-bottom: 50px;
  text-align: center;
}

.profileBtn {
  cursor: pointer;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.profileBtn + a {
  margin-left: 10px;
}

/* Edit Profile */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profileForm .formBtn + a {
  margin-top: 10px;
}

/* Switter Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.factoryInput__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.factoryInput__container ::-webkit-scrollbar {
  width: 5px;
}
.factoryInput__container ::-webkit-scrollbar-thumb {
  background: transparent;
}

.factoryInput__input {
  resize: none;
  width: 275px;
  height: 30px;
  border: none;
  padding: 8px 20px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  background-color: transparent;
}

.factoryInput__input::placeholder {
  color: white;
  transition: color linear .2s;
}

.factoryInput__input:focus {
  color: rgba(0, 0, 0, 0.5);
  height: 84px;
  outline: none;
}

.factoryInput__input:focus::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.factoryInput__container:focus-within {
  height: 100px;
  backdrop-filter: saturate(200%) blur(5px);
  background-color: rgba(255, 255, 255, 0.6);
  transition: all linear .2s;
}

.factoryInput__input:focus + .factoryInput__arrow {
  height: 98px;
  top: 0;
  border-radius: 0 18px 18px 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: height linear .2s;
}

.factoryInput__arrow {
  position: absolute;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 40px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 20px;
  color: white;
  box-sizing: border-box;
  transition: border-radius linear .2s, background linear .2s;
}

.factoryInput__label {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  cursor: pointer;
}

.factoryInput__label span {
  margin-right: 10px;
  font-size: 12px;
}

.factoryForm__attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm__attachment img {
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.factoryForm__clear {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  text-align: center;
}

.factoryForm__clear span {
  margin-right: 10px;
  font-size: 12px;
}

/* Sweet */

.sweetEdit .formBtn {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 5px;
}

.sweet {
  margin-bottom: 30px;
  width: 100%;
  max-width: 320px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.sweetContent {
  position: relative;
}

.sweet p {
  font-size: 14px;
  backdrop-filter: saturate(200%) blur(5px);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 35px 20px 30px;
  border-radius: 10px;
  white-space: break-spaces;
}

.sweet img {
  width: 320px;
  height: 320px;
  border-radius: 10px 10px 0 0;
}

.sweet__actions {
  position: absolute;
  right: 10px;
  top: 10px;
}

.sweet__actions span {
  cursor: pointer;
}

.sweet__actions span:first-child {
  margin-right: 10px;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: white;
  cursor: pointer;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
  box-sizing: content-box;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  box-sizing: content-box;
  cursor: pointer;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}